name: Dispatch Fix Test

on:
  workflow_dispatch:
    inputs:
      test:
        description: 'A short test string'
        required: false

jobs:
  noop:
    runs-on: ubuntu-latest
    steps:
      - name: No-op
        run: |
          echo "Dispatch fix test ran"
